/******************************************************* FONTS ********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+KR:wght@300;400&display=swap');
/*
    font-family: 'Nerko One', cursive;
    font-family: 'Noto Sans KR', sans-serif;
*/
/******************************************************** BASE ********************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    padding: 70px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: #FFF;
    background-image: url("/img/noisy-texture-100x100-o6-d17-c-232330-t0.png");
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
body > .content-wrap{
    min-height: calc(100vh - 105px);
}
a.text-link{
    color: #d41a1a;
}
a.text-link:hover{
    color: #c31616;
}
.cutter-form-input{
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    height: 2.2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.cutter-form-button{
    display: inline-block;
    background: #ae1f1f;
    color: #FFF;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid transparent;
    outline: none;
    height: 2.2rem;
    line-height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    text-decoration: none;
}
.cutter-form-button:hover{
    background: #9d1a1a;
}
.cutter-form-button:disabled{
    background: #5a5a5a;
    cursor: not-allowed;
}
.cutter-form-button.info{
    background: #1fae7b;
}
.cutter-form-button.info:hover{
    background: #199b6d;
}
.x-scroll{
   max-width: 100%;
   overflow-x: auto;
}
.x-scroll::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
.x-scroll::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 4px;
}
.x-scroll::-webkit-scrollbar-thumb{
    background: #bdc3d4;
    border-radius: 4px;
}
.x-scroll::-webkit-scrollbar-thumb:hover {
    background: #9298a9;
}
.y-scroll{
    overflow-y: auto;
}
.y-scroll::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
.y-scroll::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 4px;
}
.y-scroll::-webkit-scrollbar-thumb{
    background: #bdc3d4;
    border-radius: 4px;
}
.y-scroll::-webkit-scrollbar-thumb:hover{
    background: #9298a9;
}

/******************************************************* HEADER *******************************************************/
#header{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px 2rem;
    top: 0;
    left: 0;
    font-family: 'Nerko One', cursive;
}
#header > .inner{
    flex-grow: 1;
    display: flex;
}
#header > .inner > .main-title-section{
    flex-grow: 1;
}
#header > .inner > .stats-link-button{
    background: #FFF;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: background-color 0.2s ease-out;
}
#header > .inner > .stats-link-button:hover{
    background: #ececec;
}
#header > .inner > .stats-link-button > .stats-link-button-icon{
    width: 0.8rem;
    height: 0.8rem;
    fill: #000;
}
#header > .inner > .main-title-section > .main-title-heading{
    font-size: 2.5rem;
    margin: 0;
    white-space: nowrap;
    text-shadow: 2px 2px 5px #000000b0;
}
#header > .inner > .main-title-section > .main-title-heading > .main-title-heading-link{
    color: #FFF;
    text-decoration: none;
}

/******************************************************* FOOTER *******************************************************/
#footer{
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0.5rem 2rem;
    background: #000;
}
#header > .inner{
    flex-grow: 1;
}
#footer > .inner > .footer-title-section > .project-description{
    font-weight: 300;
}