/**************************************************** CUTTER BLOCK *****************************************************/
#cutter_block{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
#cutter_block > .inner{
    width: 100%;
    max-width: 500px;
}

/**************************************************** CUTTER FORM *****************************************************/
#cutter_form_inputs_block > .form-heading-title {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    text-align: center;
}
#cutter_form_inputs_block > .form-group{
    margin: 0 0 0.75rem 0;
}
#cutter_form_inputs_block > .form-group:last-child{
    margin: 0;
}
#cutter_form label{
    width: 100%;
    margin: 0 0 0.5rem 0;
    display: inline-block;
}
#cf_submit_btn{
    margin: 1.5rem auto 0 auto;
    display: block;
}
#cf_success_block{
    display: none;
    text-align: center;
}
#cf_success_block > .form-success-title{
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    text-align: center;
}
#cf_success_block > .buttons-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0 0;
}
#cf_success_block > .saved-link-input-wrap{
    position: relative;
}
#cf_saved_link_copy_btn{
    height: 2.2rem;
    width: 2.2rem;
    position: absolute;
    background: #1fae7b;
    top: 0;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 0;
    box-shadow: 0 0 0 1px #1fae7b;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
#cf_saved_link_copy_btn:hover{
    background: #1ba473;
}
#cf_saved_link_copy_btn .svg-icon{
    width: 18px;
    height: 18px;
    fill: #FFF;
}
