#stats_block{
    padding: 2rem;
    text-align: center;
}
#stats_block .stats-heading-title{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}
.no-stats-message{
    width: 100%;
    display: inline-block;
    margin: 1rem 0 0 0;
    text-align: center;
}
#stats_block .stats-table-wrap{
    display: inline-block;
    max-width: 100%;
    margin: 1rem 0 0 0;
    max-height: calc(100vh - 220px);
    min-height: 300px;
}
#stats_block .stats-table{
    background: #FFF;
    color: #000;
    border-radius: 3px;
    border-collapse: collapse;
}
#stats_block .stats-table thead tr th{
    padding: 5px;
    border-bottom: 1px solid #d8d8d8;
}
#stats_block .stats-table thead tr th:first-child{
    padding: 5px 5px 5px 10px;
}
#stats_block .stats-table thead tr th:last-child{
    padding: 5px 10px 5px 5px;
}
#stats_block .stats-table tbody tr td{
    padding: 5px;
    text-align: left;
}
#stats_block .stats-table tbody tr td:first-child{
    padding: 5px 5px 5px 10px;
}
#stats_block .stats-table tbody tr td:last-child{
    padding: 5px 10px 5px 5px;
}
#stats_block .stats-table tbody tr:nth-child(odd) td{
    background: #e1ecff;
}
#stats_block .stats-table .full-link{
    display: inline-block;
    color: #2b51bd;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#stats_block .expire-time-info.not-expired{
    color: #31a924;
}
#stats_block .expire-time-info.expired{
    color: #ff0a0a;
}